<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Login Page</title>
  <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<br><br><br>
<div class="container">
<form method="GET" action="/loginWithFace">
	<button class="btn btn-primary" id="loginWithFaceBtn">Login with Face</button>
</form>
<br>OR<br>
<form method="POST" action="/sign_up/">
{% csrf_token %}
	<input type="hidden" name="mode" value="signup"/>
	<button class="btn btn-primary" id="loginWithFaceBtn">Sign Up</button>
</form>

	</div>
</body>
</html>
