<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
</head>

<body>
<br>
<h4>Login succesfully<h4>
<br>
<h4>User's E-mail address:<h4>
<br>
<br>

<form method="GET" action="/result">
    <h2 class="pos_abs"> Predict Price </h2>
    make<input type="text" name="make" class="pos_abs">
	body style<input type="text" name="bodystyle" class="pos_abs">
	wheel-base<input type="text" name="wheelbase" class="pos_abs">
	engine-size<input type="text" name="engine-size" class="pos_abs">
	horsepower<input type="text" name="horsepower" class="pos_abs">
	peak-rpm<input type="text" name="peakrpm" class="pos_abs">
	highway-mpg<input type="text" name="highwaympg" class="pos_abs">
	price<input type="text" name="price" class="pos_abs">
    <input type="submit" class="pos_abs2"/>
</from>
</body>
</html>